openapi: 3.0.3
info:
  title: Doujins Billing API
  version: 1.0.0
  description: |
    HTTP surface for the Doujins billing service. The spec describes the currently
    deployed endpoints (public catalog, authenticated user flows, admin APIs, processor webhooks,
    and the internal service-to-service entitlement lookup).
servers:
  - url: https://billing.doujins.com
    description: Primary public API
  - url: https://billing-internal.doujins.com
    description: Private service API (port 8060)
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
  schemas:
    Product:
      type: object
      properties:
        id:
          type: string
          example: prod_01HZX1...
        object:
          type: string
          example: product
        name:
          type: string
        description:
          type: string
        active:
          type: boolean
        livemode:
          type: boolean
        metadata:
          type: object
          additionalProperties:
            type: string
        created:
          type: integer
          format: int64
        updated:
          type: integer
          format: int64
        prices:
          type: array
          items:
            $ref: '#/components/schemas/Price'
    Price:
      type: object
      properties:
        id:
          type: string
          example: price_01HZX6...
        object:
          type: string
          example: price
        name:
          type: string
        amount:
          type: integer
          description: Amount in cents
        currency:
          type: string
          example: usd
        type:
          type: string
          enum: [one_time, recurring]
        recurring:
          $ref: '#/components/schemas/RecurringInfo'
        product:
          type: string
        active:
          type: boolean
        livemode:
          type: boolean
        metadata:
          type: object
          additionalProperties:
            type: string
        created:
          type: integer
          format: int64
    CreditsSpec:
      type: object
      properties:
        promo_amount_cents:
          type: integer
        promo_expires_days:
          type: integer
        grant_on:
          type: string
    ProductRecord:
      type: object
      properties:
        id:
          type: string
        slug:
          type: string
        display_name:
          type: string
        description:
          type: string
          nullable: true
        entitlements_spec:
          type: object
          additionalProperties:
            type: integer
            nullable: true
        credits_spec:
          $ref: '#/components/schemas/CreditsSpec'
        tier_group:
          type: string
          nullable: true
        tier_rank:
          type: integer
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        prices:
          type: array
          items:
            $ref: '#/components/schemas/PriceRecord'
    PriceRecord:
      type: object
      properties:
        id:
          type: string
        product_id:
          type: string
        display_name:
          type: string
        is_active:
          type: boolean
        amount:
          type: integer
        currency:
          type: string
        billing_cycle_days:
          type: integer
          nullable: true
        processors:
          type: object
          additionalProperties:
            type: object
            additionalProperties:
              type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    RecurringInfo:
      type: object
      properties:
        interval:
          type: string
          enum: [day, week, month, year]
        interval_count:
          type: integer
    ListResponseProducts:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        has_more:
          type: boolean
    ListResponsePrices:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Price'
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        has_more:
          type: boolean
    SubscriptionSummary:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [pending, active, past_due, cancelled]
        processor:
          type: string
          enum: [mobius, ccbill, solana]
        current_period_starts_at:
          type: string
          format: date-time
        current_period_ends_at:
          type: string
          format: date-time
        canceled_at:
          type: string
          format: date-time
          nullable: true
    UserAccessGrant:
      type: object
      properties:
        kind:
          type: string
          description: subscription or entitlement
        entitlement:
          type: string
        source_type:
          type: string
          nullable: true
        source_id:
          type: string
          nullable: true
        subscription_id:
          type: string
          nullable: true
        processor:
          type: string
          nullable: true
        processor_subscription_id:
          type: string
          nullable: true
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
          nullable: true
    SubscriptionRecord:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        product_id:
          type: string
        price_id:
          type: string
        scheduled_price_id:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, active, past_due, cancelled]
        started_at:
          type: string
          format: date-time
        ended_at:
          type: string
          format: date-time
          nullable: true
        current_period_starts_at:
          type: string
          format: date-time
          nullable: true
        current_period_ends_at:
          type: string
          format: date-time
          nullable: true
        processor:
          type: string
        processor_subscription_id:
          type: string
        user_email:
          type: string
          nullable: true
        payment_method_id:
          type: string
          nullable: true
        last_retry_at:
          type: string
          format: date-time
          nullable: true
        retry_attempts:
          type: integer
          nullable: true
        next_retry_at:
          type: string
          format: date-time
          nullable: true
        cancel_feedback:
          type: string
          nullable: true
        cancel_type:
          type: string
          nullable: true
        canceled_at:
          type: string
          format: date-time
          nullable: true
        gateway_response:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        payment_method:
          $ref: '#/components/schemas/PaymentMethod'
    UserSubscription:
      allOf:
        - $ref: '#/components/schemas/SubscriptionRecord'
        - type: object
          properties:
            product:
              $ref: '#/components/schemas/ProductRecord'
            price:
              $ref: '#/components/schemas/PriceRecord'
            access:
              $ref: '#/components/schemas/UserAccessGrant'
    PaymentObject:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: charge
        status:
          type: string
        amount:
          type: integer
        amount_refunded:
          type: integer
        currency:
          type: string
        user:
          type: string
        processor:
          type: string
        transaction_id:
          type: string
        subscription:
          type: string
          nullable: true
        payment_method:
          type: string
          nullable: true
        refunded:
          type: boolean
        captured:
          type: boolean
        failure_code:
          type: string
          nullable: true
        failure_message:
          type: string
          nullable: true
        refunds:
          $ref: '#/components/schemas/PaymentRefundsList'
        created:
          type: integer
          format: int64
        price:
          $ref: '#/components/schemas/Price'
    PaymentRefundsList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/PaymentObject'
    PaymentRecord:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        price_id:
          type: string
        subscription_id:
          type: string
          nullable: true
        refunded_payment_id:
          type: string
          nullable: true
        processor:
          type: string
        transaction_id:
          type: string
        amount:
          type: integer
        currency:
          type: string
        purchased_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        price:
          $ref: '#/components/schemas/PriceRecord'
        subscription:
          $ref: '#/components/schemas/SubscriptionRecord'
    PaymentMethod:
      type: object
      properties:
        id:
          type: string
        object:
          type: string
          example: payment_method
        type:
          type: string
          example: card
        processor:
          type: string
        customer:
          type: string
          nullable: true
        billing_details:
          $ref: '#/components/schemas/PaymentMethodBillingDetails'
        card:
          $ref: '#/components/schemas/PaymentMethodCardDetails'
        metadata:
          type: object
          additionalProperties:
            type: string
        livemode:
          type: boolean
        is_active:
          type: boolean
        created:
          type: integer
          format: int64
        failure_reason:
          type: string
          nullable: true
    PaymentMethodBillingDetails:
      type: object
      properties:
        name:
          type: string
          nullable: true
        email:
          type: string
          nullable: true
        phone:
          type: string
          nullable: true
        address:
          $ref: '#/components/schemas/PaymentMethodAddress'
    PaymentMethodAddress:
      type: object
      properties:
        line1:
          type: string
          nullable: true
        line2:
          type: string
          nullable: true
        city:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        postal_code:
          type: string
          nullable: true
        country:
          type: string
          nullable: true
    PaymentMethodCardDetails:
      type: object
      properties:
        brand:
          type: string
          nullable: true
        last4:
          type: string
          nullable: true
        exp_month:
          type: integer
          nullable: true
        exp_year:
          type: integer
          nullable: true
    Notification:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        event_type:
          type: string
        data:
          type: object
          additionalProperties: true
        seen:
          type: boolean
        created_at:
          type: string
          format: date-time
    Entitlement:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        entitlement:
          type: string
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
          nullable: true
        source_type:
          type: string
        source_id:
          type: string
        revoked_at:
          type: string
          format: date-time
          nullable: true
        revoke_reason:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    ServiceEntitlementRecord:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        entitlement:
          type: string
        start_at:
          type: string
          format: date-time
        end_at:
          type: string
          format: date-time
          nullable: true
        source_id:
          type: string
          nullable: true
        source_type:
          type: string
        revoked_at:
          type: string
          format: date-time
          nullable: true
        revoke_reason:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreditBalance:
      type: object
      properties:
        type:
          type: string
        display_name:
          type: string
        unit:
          type: string
        decimal_places:
          type: integer
        balance:
          type: integer
        held_balance:
          type: integer
        permanent_balance:
          type: integer
        expiring_balance:
          type: integer
        earliest_expiry:
          type: integer
          format: int64
          nullable: true
    ServiceCreditBalance:
      type: object
      properties:
        type:
          type: string
        balance:
          type: integer
        held_balance:
          type: integer
        permanent_balance:
          type: integer
        expiring_balance:
          type: integer
    CreditTransaction:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        credit_type_id:
          type: string
        amount:
          type: integer
        balance_after:
          type: integer
        transaction_type:
          type: string
        source:
          type: string
        source_id:
          type: string
          nullable: true
        expires_at:
          type: string
          format: date-time
          nullable: true
        description:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
    CreditHold:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        credit_type_id:
          type: string
        amount:
          type: integer
        source:
          type: string
        source_id:
          type: string
        status:
          type: string
        expires_at:
          type: string
          format: date-time
        captured_amount:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    CreditWithdrawRequest:
      type: object
      required: [user_id, credit_type, amount, source]
      properties:
        user_id:
          type: string
        credit_type:
          type: string
        amount:
          type: integer
        source:
          type: string
        source_id:
          type: string
          nullable: true
    CreditHoldRequest:
      type: object
      required: [user_id, credit_type, amount, source, source_id, expires_at]
      properties:
        user_id:
          type: string
        credit_type:
          type: string
        amount:
          type: integer
        source:
          type: string
        source_id:
          type: string
        expires_at:
          type: integer
          format: int64
    CreditCaptureRequest:
      type: object
      required: [amount]
      properties:
        amount:
          type: integer
    PortalResponse:
      type: object
      properties:
        redirect_url:
          type: string
    MessageResponse:
      type: object
      properties:
        message:
          type: string
    QueuedResponse:
      type: object
      properties:
        status:
          type: string
          example: queued
    PaymentMethodActionResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
    UpdateSubscriptionPaymentMethodResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        subscription_id:
          type: string
        payment_method_id:
          type: string
    CancelSubscriptionExternalResponse:
      type: object
      properties:
        error:
          type: string
        support_url:
          type: string
        code:
          type: string
    OkResponse:
      type: object
      properties:
        ok:
          type: boolean
    ExtendSubscriptionRequest:
      type: object
      required: [subscription_id, duration]
      properties:
        subscription_id:
          type: string
        duration:
          type: string
          example: 72h
    AdminCancelSubscriptionRequest:
      type: object
      properties:
        reason:
          type: string
    RefundRequest:
      type: object
      required: [amount, refund_transaction_id]
      properties:
        amount:
          type: integer
        refund_transaction_id:
          type: string
    ChangeSubscriptionRequest:
      type: object
      required: [price_id]
      properties:
        price_id:
          type: string
    ChangeSubscriptionResponse:
      type: object
      properties:
        status:
          type: string
        action:
          type: string
        message:
          type: string
        subscription_id:
          type: string
          nullable: true
    GrantEntitlementRequest:
      type: object
      required: [entitlement]
      properties:
        entitlement:
          type: string
        days:
          type: integer
          nullable: true
    AdminGrantRequest:
      type: object
      required: [price_id, reason]
      properties:
        price_id:
          type: string
        reason:
          type: string
        duration_days:
          type: integer
          nullable: true
        amount:
          type: integer
        currency:
          type: string
        transaction_id:
          type: string
    AdminGrantResponse:
      type: object
      properties:
        object:
          type: string
        admin_grant_id:
          type: string
        payment_id:
          type: string
          nullable: true
        entitlements_granted:
          type: array
          items:
            type: string
    AdminGrantItem:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
        user_id:
          type: string
        price_id:
          type: string
        granted_by:
          type: string
        reason:
          type: string
        duration_days:
          type: integer
          nullable: true
        created_at:
          type: integer
          format: int64
        payment_id:
          type: string
          nullable: true
    AdminGrantDetail:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
        user_id:
          type: string
        price_id:
          type: string
        granted_by:
          type: string
        reason:
          type: string
        duration_days:
          type: integer
          nullable: true
        created_at:
          type: integer
          format: int64
        payment_id:
          type: string
          nullable: true
        price:
          type: object
          properties:
            id:
              type: string
            display_name:
              type: string
            product_id:
              type: string
    AdminUserBillingProfile:
      type: object
      properties:
        user_id:
          type: string
        subscription:
          $ref: '#/components/schemas/SubscriptionRecord'
        entitlements:
          type: array
          items:
            $ref: '#/components/schemas/Entitlement'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/PaymentRecord'
    AdminSubscription:
      allOf:
        - $ref: '#/components/schemas/SubscriptionRecord'
        - type: object
          properties:
            product:
              $ref: '#/components/schemas/ProductRecord'
            price:
              $ref: '#/components/schemas/PriceRecord'
            payments:
              type: array
              items:
                $ref: '#/components/schemas/PaymentRecord'
    CheckoutSessionPaymentRequest:
      type: object
      required: [processor]
      properties:
        processor:
          type: string
          enum: [mobius, ccbill, solana, stripe]
        payment_method_id:
          type: string
        payment_token:
          type: string
        token_symbol:
          type: string
        flow:
          type: string
          enum: [transfer_request, transaction_request]
        wallet:
          type: string
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
    CheckoutSessionPaymentResponse:
      type: object
      properties:
        processor:
          type: string
          enum: [mobius, ccbill, solana, stripe]
        reference:
          type: string
        transaction_url:
          type: string
        transaction_data:
          type: string
        redirect_url:
          type: string
        transaction_id:
          type: string
    CheckoutSessionCreateRequest:
      type: object
      required: [price_id, payment]
      properties:
        price_id:
          type: string
        mode:
          type: string
          enum: [one_off, subscription]
        payment:
          $ref: '#/components/schemas/CheckoutSessionPaymentRequest'
        metadata:
          type: object
          additionalProperties:
            type: string
    CheckoutSessionConfirmRequest:
      type: object
      required: [payment]
      properties:
        payment:
          type: object
          required: [processor, signature]
          properties:
            processor:
              type: string
              enum: [solana]
            signature:
              type: string
            wallet:
              type: string
    CheckoutSessionRedirectToURL:
      type: object
      properties:
        url:
          type: string
        return_url:
          type: string
    CheckoutSessionNextAction:
      type: object
      properties:
        type:
          type: string
          enum: [redirect_to_url, solana_qr, solana_transaction, none]
        redirect_to_url:
          $ref: '#/components/schemas/CheckoutSessionRedirectToURL'
    CheckoutSessionResponse:
      type: object
      properties:
        object:
          type: string
        id:
          type: string
        status:
          type: string
        mode:
          type: string
        price_id:
          type: string
        payment:
          $ref: '#/components/schemas/CheckoutSessionPaymentResponse'
        payment_id:
          type: string
        subscription_id:
          type: string
        expires_at:
          type: string
          format: date-time
        next_action:
          $ref: '#/components/schemas/CheckoutSessionNextAction'
        message:
          type: string
        metadata:
          type: object
          additionalProperties:
            type: string
    UpdateSubscriptionPaymentMethodRequest:
      type: object
      required: [subscription_id, payment_method_id]
      properties:
        subscription_id:
          type: string
        payment_method_id:
          type: string
    CancelSubscriptionRequest:
      type: object
      properties:
        feedback:
          type: string
          maxLength: 500
    CreatePaymentMethodRequest:
      type: object
      required: [payment_token, first_name, last_name, address1, city, zip, country]
      properties:
        payment_token:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        company:
          type: string
        address2:
          type: string
        provider:
          type: string
    UpdatePaymentMethodRequest:
      type: object
      required: [payment_token]
      properties:
        payment_token:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        address1:
          type: string
        city:
          type: string
        state:
          type: string
        zip:
          type: string
        country:
          type: string
        phone:
          type: string
        email:
          type: string
          format: email
        company:
          type: string
        address2:
          type: string
        provider:
          type: string
    NotificationReadResponse:
      type: object
      properties:
        message:
          type: string
    AdminGrant:
      type: object
      properties:
        id:
          type: string
        user_id:
          type: string
        product_id:
          type: string
        reason:
          type: string
        created_at:
          type: string
          format: date-time
    AdminSummaryResponse:
      type: object
      properties:
        period_start:
          type: string
          format: date-time
        period_end:
          type: string
          format: date-time
        currency:
          type: string
        mrr:
          type: integer
        arr:
          type: integer
        total_revenue:
          type: integer
        subscription_revenue:
          type: integer
        one_time_revenue:
          type: integer
        refunds:
          type: integer
        chargebacks:
          type: integer
        new_subscriptions:
          type: integer
        net_new_subscriptions:
          type: integer
        cancellations:
          type: object
          properties:
            total:
              type: integer
            voluntary:
              type: integer
            involuntary:
              type: integer
        active_subscriptions:
          type: object
          properties:
            active:
              type: integer
            past_due:
              type: integer
            pending:
              type: integer
            cancelled_in_period:
              type: integer
        arpu:
          type: integer
        entitlement_grants:
          type: integer
        data_fresh_as_of:
          type: string
          format: date-time
    AdminRevenueSeries:
      type: object
      properties:
        currency:
          type: string
        granularity:
          type: string
        buckets:
          type: array
          items:
            type: object
            properties:
              period_start:
                type: string
                format: date-time
              period_end:
                type: string
                format: date-time
              total_revenue:
                type: integer
              subscription_revenue:
                type: integer
              one_time_revenue:
                type: integer
              refunds:
                type: integer
              chargebacks:
                type: integer
        totals:
          type: object
          properties:
            total_revenue:
              type: integer
            subscription_revenue:
              type: integer
            one_time_revenue:
              type: integer
            refunds:
              type: integer
            chargebacks:
              type: integer
    AdminSubscriptionSeries:
      type: object
      properties:
        granularity:
          type: string
        buckets:
          type: array
          items:
            type: object
            properties:
              period_start:
                type: string
                format: date-time
              period_end:
                type: string
                format: date-time
              new_subscriptions:
                type: integer
              scheduled_starts:
                type: integer
              cancellations:
                type: object
                properties:
                  voluntary:
                    type: integer
                  involuntary:
                    type: integer
              reactivations:
                type: integer
              net_change:
                type: integer
        totals:
          type: object
          properties:
            new_subscriptions:
              type: integer
            cancellations:
              type: integer
            reactivations:
              type: integer
            net_change:
              type: integer
    AdminProcessorMetricsResponse:
      type: object
      properties:
        period_start:
          type: string
          format: date-time
        period_end:
          type: string
          format: date-time
        processors:
          type: array
          items:
            type: object
            properties:
              processor:
                type: string
              metrics:
                type: object
                properties:
                  active_subscriptions:
                    type: integer
                  new_subscriptions:
                    type: integer
                  cancellations:
                    type: integer
                  revenue:
                    type: object
                    properties:
                      total:
                        type: integer
                      subscription:
                        type: integer
                      one_time:
                        type: integer
                      refunds:
                        type: integer
                      chargebacks:
                        type: integer
                  payments:
                    type: object
                    properties:
                      successful:
                        type: integer
                      failed:
                        type: integer
    AdminChurnResponse:
      type: object
      properties:
        period_start:
          type: string
          format: date-time
        period_end:
          type: string
          format: date-time
        monthly_churn:
          type: array
          items:
            type: object
            properties:
              month:
                type: string
              churn_rate:
                type: number
              voluntary_rate:
                type: number
              involuntary_rate:
                type: number
              active_start:
                type: integer
              active_end:
                type: integer
        cancellation_reasons:
          type: array
          items:
            type: object
            properties:
              reason:
                type: string
              count:
                type: integer
        cohort_retention:
          type: array
          items:
            type: object
            properties:
              cohort:
                type: string
              initial_signups:
                type: integer
              retention:
                type: array
                items:
                  type: object
                  properties:
                    month:
                      type: integer
                    active:
                      type: integer
                    rate:
                      type: number
paths:
  /:
    get:
      summary: Service banner
      responses:
        '200':
          description: Banner payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /health/live:
    get:
      summary: Liveness probe
      responses:
        '200':
          description: Liveness OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
  /health/ready:
    get:
      summary: Readiness probe
      responses:
        '200':
          description: Ready
        '503':
          description: Not ready
  /healthz:
    get:
      summary: Kubernetes liveness alias
      responses:
        '200':
          description: OK
  /readyz:
    get:
      summary: Kubernetes readiness alias
      responses:
        '200':
          description: Ready
        '503':
          description: Not ready
  /v1/products:
    get:
      summary: List products
      parameters:
        - in: query
          name: active
          schema:
            type: boolean
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: offset
          schema:
            type: integer
      responses:
        '200':
          description: List of products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponseProducts'
  /v1/prices:
    get:
      summary: List prices
      parameters:
        - in: query
          name: active
          schema:
            type: boolean
        - in: query
          name: currency
          schema:
            type: string
        - in: query
          name: product
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
            enum: [recurring, one_time]
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: offset
          schema:
            type: integer
      responses:
        '200':
          description: List of prices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResponsePrices'
  /v1/solana/tokens:
    get:
      summary: List supported Solana tokens
      responses:
        '200':
          description: Token definitions
          content:
            application/json:
              schema:
                type: object
                properties:
                  tokens:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                        name:
                          type: string
                        mint:
                          type: string
                        decimals:
                          type: integer
                        price:
                          type: number
  /v1/webhooks/{provider}:
    post:
      summary: Processor webhook receiver
      parameters:
        - in: path
          name: provider
          required: true
          schema:
            type: string
            enum: [ccbill, mobius, stripe]
      responses:
        '200':
          description: Webhook accepted
        '400':
          description: Unknown provider
        '401':
          description: Signature missing/invalid
        '403':
          description: Source not authorised
  /v1/me/status:
    get:
      summary: Current premium status
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Status payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_active_subscription:
                    type: boolean
                  subscription:
                    $ref: '#/components/schemas/UserSubscription'
                  next_renewal_at:
                    type: string
                    format: date-time
                  entitlements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Entitlement'
        '401':
          description: Authentication required
  /v1/checkout:
    post:
      summary: Create checkout session
      security:
        - BearerAuth: []
      parameters:
        - in: header
          name: X-Idempotency-Key
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionCreateRequest'
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionResponse'
        '400':
          description: Validation failure
        '401':
          description: Authentication required
        '409':
          description: Checkout session conflict or pending
  /v1/checkout/{id}:
    get:
      summary: Retrieve checkout session
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Checkout session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionResponse'
        '400':
          description: Invalid checkout session id
        '401':
          description: Authentication required
        '403':
          description: Access denied
        '404':
          description: Checkout session not found
  /v1/checkout/{id}/confirm:
    post:
      summary: Confirm checkout session
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutSessionConfirmRequest'
      responses:
        '200':
          description: Checkout session updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutSessionResponse'
        '400':
          description: Validation failure
        '401':
          description: Authentication required
        '403':
          description: Access denied
        '404':
          description: Checkout session not found
        '409':
          description: Checkout session conflict
        '410':
          description: Checkout session expired
  /v1/me/subscriptions:
    get:
      summary: Subscription history
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: offset
          schema:
            type: integer
      responses:
        '200':
          description: Subscription list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSubscription'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
                  url:
                    type: string
        '401':
          description: Authentication required
  /v1/me/subscriptions/payment-method:
    put:
      summary: Change payment method for an NMI subscription
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionPaymentMethodRequest'
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionPaymentMethodResponse'
        '400':
          description: Validation error
        '401':
          description: Authentication required
  /v1/me/subscriptions/cancel:
    post:
      summary: Cancel current subscription
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSubscriptionRequest'
      responses:
        '202':
          description: Cancellation queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueuedResponse'
        '401':
          description: Authentication required
        '422':
          description: Requires external cancellation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelSubscriptionExternalResponse'
  /v1/me/subscriptions/resume:
    post:
      summary: Resume a cancelled Stripe subscription
      security:
        - BearerAuth: []
      responses:
        '202':
          description: Resume queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueuedResponse'
        '400':
          description: Resume not supported
        '401':
          description: Authentication required
        '404':
          description: No resumable subscription found
  /v1/me/subscriptions/change:
    post:
      summary: Change Stripe subscription plan
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeSubscriptionRequest'
      responses:
        '200':
          description: Plan updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangeSubscriptionResponse'
        '400':
          description: Validation failure
        '401':
          description: Authentication required
        '404':
          description: Subscription or price not found
        '409':
          description: Plan conflict
  /v1/me/payments:
    get:
      summary: List user payments
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: type
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: offset
          schema:
            type: integer
      responses:
        '200':
          description: Payment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentRecord'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
                  url:
                    type: string
        '401':
          description: Authentication required
  /v1/me/payment-methods:
    get:
      summary: List stored payment methods
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: offset
          schema:
            type: integer
        - in: query
          name: include_inactive
          schema:
            type: boolean
      responses:
        '200':
          description: Payment method list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
        '401':
          description: Authentication required
    post:
      summary: Create payment method
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentMethodRequest'
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '400':
          description: Validation error
        '401':
          description: Authentication required
  /v1/me/payment-methods/{id}:
    put:
      summary: Update payment method
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePaymentMethodRequest'
      responses:
        '200':
          description: Updated method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '400':
          description: Validation error
        '401':
          description: Authentication required
    delete:
      summary: Delete payment method
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodActionResponse'
        '401':
          description: Authentication required
  /v1/me/payment-methods/{id}/activate:
    put:
      summary: Reactivate payment method
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodActionResponse'
        '401':
          description: Authentication required
  /v1/me/notifications:
    get:
      summary: List notifications
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: offset
          schema:
            type: integer
        - in: query
          name: seen
          schema:
            type: boolean
      responses:
        '200':
          description: Notification list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
                  url:
                    type: string
        '401':
          description: Authentication required
  /v1/me/notifications/unread-count:
    get:
      summary: Unread notification count
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Count
          content:
            application/json:
              schema:
                type: object
                properties:
                  unread_count:
                    type: integer
        '401':
          description: Authentication required
  /v1/me/notifications/{id}/read:
    post:
      summary: Mark notification read
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Marked as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationReadResponse'
        '401':
          description: Authentication required
  /v1/me/credits:
    get:
      summary: List credit balances
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Credit balances
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CreditBalance'
        '401':
          description: Authentication required
  /v1/me/credits/{type}:
    get:
      summary: Get credit balance by type
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: type
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Credit balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditBalance'
        '401':
          description: Authentication required
        '404':
          description: Credit type not found
  /v1/me/credits/{type}/transactions:
    get:
      summary: List credit transactions
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: type
          required: true
          schema:
            type: string
        - in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: offset
          schema:
            type: integer
      responses:
        '200':
          description: Credit transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CreditTransaction'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
                  url:
                    type: string
        '401':
          description: Authentication required
  /v1/me/portal:
    post:
      summary: Create Stripe customer portal session
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Portal session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortalResponse'
        '401':
          description: Authentication required
        '404':
          description: Stripe customer not found
  /v1/admin/subscriptions:
    get:
      summary: Admin subscription listing
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Subscription list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminSubscription'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
                  url:
                    type: string
        '403':
          description: Admin role required
  /v1/admin/subscriptions/{id}:
    get:
      summary: Admin subscription detail
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Subscription detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSubscription'
        '403':
          description: Admin role required
  /v1/admin/subscriptions/{id}/extend:
    put:
      summary: Extend subscription
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtendSubscriptionRequest'
      responses:
        '200':
          description: Extended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
  /v1/admin/subscriptions/{id}/cancel:
    post:
      summary: Cancel subscription (admin)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminCancelSubscriptionRequest'
      responses:
        '200':
          description: Cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
  /v1/admin/payments:
    get:
      summary: Admin payment listing
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Payment list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentObject'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
                  url:
                    type: string
  /v1/admin/payments/{id}:
    get:
      summary: Payment detail (admin)
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Payment detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentObject'
  /v1/admin/payments/{id}/refund:
    post:
      summary: Create refund
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundRequest'
      responses:
        '201':
          description: Refund initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentObject'
  /v1/admin/users/{user_id}:
    get:
      summary: Get billing profile for a user
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Billing profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserBillingProfile'
  /v1/admin/users/{user_id}/entitlements:
    get:
      summary: List entitlements for a user
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: at
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Entitlement list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceEntitlementRecord'
    post:
      summary: Grant entitlement
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrantEntitlementRequest'
      responses:
        '201':
          description: Granted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entitlement'
  /v1/admin/users/{user_id}/entitlements/{id}:
    delete:
      summary: Revoke entitlement
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Revoked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
  /v1/admin/users/{user_id}/grants:
    get:
      summary: List admin grants for a user
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Grant list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminGrantItem'
                  total:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  has_more:
                    type: boolean
                  url:
                    type: string
    post:
      summary: Create admin grant
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminGrantRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminGrantResponse'
  /v1/admin/grants/{id}:
    get:
      summary: Fetch grant detail
      security:
        - BearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Grant detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminGrantDetail'
  /v1/admin/metrics/summary:
    get:
      summary: Summary metrics for admin dashboard
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: start
          schema:
            type: string
            format: date
        - in: query
          name: end
          schema:
            type: string
            format: date
        - in: query
          name: period
          schema:
            type: string
            description: Optional shorthand period (7d, 30d, month, quarter)
        - in: query
          name: currency
          schema:
            type: string
      responses:
        '200':
          description: Summary metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSummaryResponse'
  /v1/admin/metrics/revenue:
    get:
      summary: Revenue time series
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: start
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: end
          required: true
          schema:
            type: string
            format: date
        - in: query
          name: granularity
          schema:
            type: string
            enum: [day, week, month]
        - in: query
          name: currency
          schema:
            type: string
      responses:
        '200':
          description: Revenue buckets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminRevenueSeries'
  /v1/admin/metrics/subscriptions:
    get:
      summary: Subscription activity series
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: start
          schema:
            type: string
            format: date
        - in: query
          name: end
          schema:
            type: string
            format: date
        - in: query
          name: granularity
          schema:
            type: string
            enum: [day, month]
        - in: query
          name: currency
          schema:
            type: string
      responses:
        '200':
          description: Subscription buckets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSubscriptionSeries'
  /v1/admin/metrics/processors:
    get:
      summary: Processor breakdown
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: start
          schema:
            type: string
            format: date
        - in: query
          name: end
          schema:
            type: string
            format: date
        - in: query
          name: currency
          schema:
            type: string
      responses:
        '200':
          description: Processor snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminProcessorMetricsResponse'
  /v1/admin/metrics/churn:
    get:
      summary: Churn and cohort data
      security:
        - BearerAuth: []
      parameters:
        - in: query
          name: start
          schema:
            type: string
            format: date
        - in: query
          name: end
          schema:
            type: string
            format: date
        - in: query
          name: currency
          schema:
            type: string
      responses:
        '200':
          description: Churn summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminChurnResponse'
  /v1/users/{user_id}/entitlements:
    get:
      summary: Service-to-service entitlement lookup
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: at
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Entitlements
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceEntitlementRecord'
        '401':
          description: API key missing or invalid
  /v1/users/{user_id}/credits:
    get:
      summary: Service credit balance lookup
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
        - in: query
          name: type
          schema:
            type: string
      responses:
        '200':
          description: Credit balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceCreditBalance'
        '401':
          description: API key missing or invalid
  /v1/credits/withdraw:
    post:
      summary: Withdraw credits (service)
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditWithdrawRequest'
      responses:
        '200':
          description: Withdrawal transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditTransaction'
        '402':
          description: Insufficient credits
        '401':
          description: API key missing or invalid
  /v1/credits/hold:
    post:
      summary: Create credit hold (service)
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditHoldRequest'
      responses:
        '200':
          description: Hold created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditHold'
        '402':
          description: Insufficient credits
        '401':
          description: API key missing or invalid
  /v1/credits/hold/{id}/capture:
    post:
      summary: Capture credit hold (service)
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditCaptureRequest'
      responses:
        '200':
          description: Capture transaction
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditTransaction'
        '402':
          description: Insufficient credits
        '401':
          description: API key missing or invalid
  /v1/credits/hold/{id}/release:
    post:
      summary: Release credit hold (service)
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Hold released
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          description: API key missing or invalid
